# Import Library

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st # statiscal function

# Read Dataset

In [3]:
df = pd.read_csv('e-commerce_example_dataset.csv')

In [4]:
df.shape

(100, 3)

In [6]:
df.head()

       gmv      discount  user_id
0  1324911  not-discount        1
1  1625874  not-discount        2
2  1432984  not-discount        3
3  1294427  not-discount        4
4  1635693  not-discount        5

In [7]:
df['discount'].value_counts()

discount        65
not-discount    35
Name: discount, dtype: int64

In [ ]:
df.head()

       gmv      discount  user_id
0  1324911  not-discount        1
1  1625874  not-discount        2
2  1432984  not-discount        3
3  1294427  not-discount        4
4  1635693  not-discount        5

# Langkah 1

Apakah rata rata gmv discount > gmv non-discount

H0 : rata-rata gmv discount **sama dengan atau kurang dari** gmv non-discount <br>
H1 : rata-rata gmv discount **lebih dari** gmv non-discount

In [8]:
#?st.ttest_ind

In [9]:
discount = df[df['discount']=='discount']
not_discount = df[df['discount']!='discount']

In [10]:
discount.head()

        gmv  discount  user_id
35  1915181  discount       36
36  1481660  discount       37
37  1517240  discount       38
38  1705569  discount       39
39  1571139  discount       40

In [7]:
not_discount.head()

       gmv      discount  user_id
0  1324911  not-discount        1
1  1625874  not-discount        2
2  1432984  not-discount        3
3  1294427  not-discount        4
4  1635693  not-discount        5

# Langkah 2

In [17]:
discount['gmv'].mean()

1624246.553846154

In [18]:
not_discount['gmv'].mean()

1400420.4

# Langkah 3 & 4

In [12]:
st.ttest_ind()

TypeError: ttest_ind() missing 2 required positional arguments: 'a' and 'b'

In [13]:
# langkah 3
ttest = st.ttest_ind(a = discount['gmv'], b=not_discount['gmv'])
p_value = ttest.pvalue

# langkah 4
print('P-Value :',p_value)
if p_value >= 0.05:
    print('Tidak cukup bukti menyatakan bahwa rata-rata gmv discount lebih dari gmv non-discount')
else:
    print('Cukup bukti menyatakan (Tolak H0) bahwa rata-rata gmv discount lebih dari gmv non-discount')

P-Value : 0.0009942306670295464
Cukup bukti menyatakan (Tolak H0) bahwa rata-rata gmv discount lebih dari gmv non-discount

# Case 2 ANOVA

In [15]:
df2 = pd.read_csv('Iris.csv')

# Langkah 1
# H0 : Rata-rata SepalWidthCm sama untuk semua species
# H1 : Rata-rata SepalWidthCm berbeda untuk beberapa species

# Langkah 2
df_versicolor = df2[df2['Species'] == 'Iris-versicolor']
df_setosa = df2[df2['Species'] == 'Iris-setosa']
df_virginica = df2[df2['Species'] == 'Iris-virginica']

In [16]:
df2.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [22]:
df2.groupby(['Species'])['SepalWidthCm'].mean()

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64

In [23]:
# Langkah 3
anova = st.f_oneway(df_versicolor['SepalWidthCm'],df_setosa['SepalWidthCm'],df_virginica['SepalWidthCm'])

In [27]:
pvalue = anova.pvalue
print(pvalue)
if pvalue >= 0.05:
  print('Insufficient Reject H0')
else:
  print('Sufficient Reject H0')

1.3279165184572242e-16
Sufficient Reject H0

### ANOVA

In [17]:
df_nova = pd.read_csv('Iris.csv')
df_nova

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

apakah ada perbedaan sigifikan antara masing-masing species untuk panjang sepal length ?

## Langkah 1

H0 : Rata-rata panjang sepal length **sama** unutk masing - masing species <br>
H1 : Terdapat sepasng species yang panjang sepal length **berbeda signifikan**

In [19]:
#pisahkan masing-masing speciesnya
df_versicolor = df_nova[df_nova['Species'] == 'Iris-versicolor']
df_setosa = df_nova[df_nova['Species'] == 'Iris-setosa']
df_virginica = df_nova[df_nova['Species'] == 'Iris-virginica']

## Langkah 2

In [20]:
#Lihat nilai nilai statiscal nya

df_versicolor['SepalLengthCm'].mean()

5.936

In [21]:
df_setosa['SepalLengthCm'].mean()

5.005999999999999

In [22]:
df_virginica['SepalLengthCm'].mean()

6.587999999999998

## Langkah 3

In [25]:
anova_result = st.f_oneway(df_versicolor['SepalLengthCm'],
           df_setosa['SepalLengthCm'],
           df_virginica['SepalLengthCm'])

In [26]:
anova_result

F_onewayResult(statistic=119.26450218450468, pvalue=1.6696691907693826e-31)

In [28]:
pvalue = anova_result.pvalue
print('P-value',pvalue)

P-value 1.6696691907693826e-31

## Langkah 4

In [29]:
if pvalue >= 0.05:
    print('Terima H0 artinya tidak cukup bukti menyatakan bahwa sepal length mampu membedakan species')
else :
    print('Terima H1 artinya cukup bukti menyatakan bahwa sepal length mampu membedakan species')

Terima H1 artinya cukup bukti menyatakan bahwa sepal length mampu membedakan species